body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

ul,
ol {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

/*==================== MOBILE-STYLE ====================*/

.top-header {
  border-bottom: 1px solid #e7e9fc;
  background: #fff;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  width: 100%;
}

.logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  text-decoration: none;
  padding: 16px 0;
  display: block;
}

.logo-item {
  color: #2e2f42;
}
.open-menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  fill: #2f2f37;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 320px;
}

.modal-menu {
  display: flex;
  flex-direction: column;
  padding: 72px 24px 40px 16px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 9999;
  overflow-y: auto;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.close-modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-menu-nav {
  margin-bottom: 168px;
}

.modal-menu-nav-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.modal-menu-nav-list-link {
  text-decoration: none;
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.modal-menu-link-item {
  color: #404bbf;
}

.modal-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}

.modal-contacts-list-link {
  font-style: normal;
  text-decoration: none;
  color: #434455;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.modal-contacts-item {
  color: #4d5ae5;
}

.modal-social-list {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.modal-social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
}

.modal-social-list-icon {
  fill: #f4f4fd;
}
/* -----------------Section-one----------------- */
.section-one {
  max-width: 320px;
  margin: 0 auto;
  padding: 72px 0;
  background-color: #2e2f42;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/bg-people-mob.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .section-one {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg-people-mob@2x.jpg);
  }
}

.title-one {
  width: 288px;
  color: #fff;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin: 0 auto;
  margin-bottom: 72px;
}

.button-order-service {
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: 48px auto 0;
}

/* -----------------/Section-one----------------- */

/* -----------------Section-two----------------- */

.section-two {
  padding: 96px 0;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.services {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-transform: capitalize;
}
.services-text {
  color: #434455;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  letter-spacing: 0.02em;
}

/* -----------------/Section-two----------------- */

/* -----------------Section-three----------------- */

.section-three {
  padding: 96px 0;
  background-color: #f4f4fd;
}

.title-three {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.team-list-item {
  display: flex;
  flex-direction: column;
  width: 264px;
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.worker-box {
  padding: 32px 0;
}

.worker {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.worker-profession {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.worker-social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.worker-social-list-item {
  width: 40px;
  height: 40px;
}

.worker-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
}

/* -----------------/Section-three----------------- */

/* -----------------Section-four----------------- */

.section-four {
  padding: 96px 0;
}

.title-four {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}

.list-portfolio {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-portfolio-item {
  width: 288px;
}

.project-box {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.project {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.project-name {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* -----------------/Section-four----------------- */

/* -----------------Section-footer----------------- */

.lower-nav {
  background-color: #2e2f42;
  padding: 96px 0;
}

.footer-container {
  display: flex;
  flex-direction: column;
  row-gap: 72px;
}

.footer-container-one {
  text-align: center;
}

.lower-logo {
  display: inline-block;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-bottom: 16px;
}

.lower-logo-item {
  color: #f4f4fd;
}

.lower-nav-text {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
  text-align: start;
}

.footer-social-box {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.footer-social-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin: 0;
}

.social-list-item {
  width: 40px;
  height: 40px;
}

.link-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
}

.icon-color {
  fill: #f4f4fd;
}

.subscribe-text {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.subscribe-input {
  width: 264px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #fff;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  color: #ffffff;
}

.subscribe-btn {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}

.subscribe-btn-icon {
  fill: #ffffff;
  margin-left: 16px;
}

/* -----------------/Section-footer----------------- */

/* -----------------Backdrop----------------- */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 288px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {
  color: #2e2f42;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.review-form-field-wrapper {
  margin-bottom: 8px;
}

.review-form-field-label {
  color: #8e8f99;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  display: block;
  margin-bottom: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-input-wrapper {
  position: relative;
}

.review-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #2e2f42;
}

.review-form-field-wrapper-comment {
  margin-bottom: 16px;
}

.review-form-comment {
  display: block;
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-checkbox-wrapper {
  margin-bottom: 24px;
}

.review-form-checkbox-label {
  color: #8e8f99;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 0;
  display: block;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-own-checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
  cursor: pointer;
}

.link-privacy-policy {
  color: #4d5ae5;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-submit-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* -----------------/Backdrop----------------- */

@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }

  .contacts {
    display: none;
  }
}
@media screen and (max-width: 1157px) {
  .box-services-icon {
    display: none;
  }
}

@media screen and (max-width: 1157px) {
  .overlay {
    display: none;
  }
}
/*==================== /MOBILE-STYLE ====================*/

/* ==================== TABLET-STYLE ==================== */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .open-menu-btn {
    display: none;
  }

  .top-header {
    height: 72px;
  }

  .header-container {
    width: 768px;
  }

  .main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    margin-right: 120px;
  }

  .menu {
    display: flex;
    column-gap: 40px;
  }
  .menu-item {
    position: relative;
  }

  .menu-link {
    display: block;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
    padding: 24px 0;
    position: relative;
  }

  .current {
    color: #404bbf;
  }

  .current::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #404bbf;
    height: 4px;
    width: 100%;
    border-radius: 2px;
  }

  .contacts {
    font-style: normal;
    display: block;
    margin-left: auto;
  }

  .list-contacts {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .link-contacts {
    display: block;
    color: #434455;
    font-size: 12px;
    line-height: 1.17;
    font-weight: 400;
    letter-spacing: 0.04em;
    text-decoration: none;
  }

  /* -----------------Section-one----------------- */

  .section-one {
    max-width: 768px;
    padding: 112px 0;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg-people-tab.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .section-one {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/bg-people-tab@2x.jpg);
    }
  }

  .title-one {
    width: 496px;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin-bottom: 36px;
  }

  /* -----------------/Section-one----------------- */

  /* -----------------Section-two----------------- */

  .list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
  }

  .list-item {
    width: calc((100% - 24px) / 2);
  }

  .services {
    text-align: start;
  }

  /* -----------------/Section-two----------------- */

  /* -----------------Section-three----------------- */

  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
    justify-content: center;
  }

  /* -----------------/Section-three----------------- */

  /* -----------------Section-four----------------- */

  .list-portfolio {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }

  .list-portfolio-item {
    width: 356px;
  }

  .project-box {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
  }

  /* -----------------/Section-four----------------- */

  /* -----------------Section-footer----------------- */

  .footer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    margin: 0 auto;
  }

  .footer-container-one {
    text-align: start;
  }

  .footer-social-box {
    margin-left: 0;
  }

  .footer-social-text {
    text-align: start;
  }

  .subscribe-text {
    text-align: start;
  }

  .subscribe-form {
    flex-direction: row;
    gap: 24px;
  }

  /* -----------------/Section-footer----------------- */

  /* -----------------Backdrop----------------- */
  .modal {
    width: 408px;
  }
  /* -----------------/Backdrop----------------- */
}
/* ==================== /TABLET-STYLE ==================== */

/* ==================== DESKTOP-STYLE ==================== */
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }

  .header-container {
    width: 1158px;
  }

  .logo {
    margin-right: 76px;
  }

  .menu-item {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu-link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu-link:hover,
  .menu-link:focus {
    color: #404bbf;
  }

  .link-contacts:hover,
  .link-contacts:focus {
    color: #404bbf;
  }

  .list-contacts {
    flex-direction: row;
    gap: 40px;
  }

  .link-contacts {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  /* -----------------Section-one----------------- */

  .section-one {
    max-width: 1440px;
    padding: 188px 0;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg-people-desk.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .section-one {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/bg-people-desk@2x.jpg);
    }
  }

  .title-one {
    margin-bottom: 48px;
  }

  .button-order-service {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .button-order-service:hover,
  .button-order-service:focus {
    background-color: #404bbf;
    border: none;
  }

  /* -----------------/Section-one----------------- */

  /* -----------------Section-two----------------- */
  .section-two {
    padding: 120px 0;
  }

  .list {
    flex-wrap: nowrap;
    gap: 24px;
  }

  .list-item {
    width: calc((100% - 72px) / 4);
  }

  .box-services-icon {
    height: 112px;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    background: #f4f4fd;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
  }

  .services {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.01em;
  }

  .services-text {
    font-weight: 400;
  }

  /* -----------------/Section-two----------------- */

  /* -----------------Section-three----------------- */

  .section-three {
    padding: 120px 0;
  }

  .team-list {
    gap: 24px;
    flex-wrap: nowrap;
  }

  .worker-social-link {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  /* -----------------/Section-three----------------- */

  /* -----------------Section-four----------------- */

  .section-four {
    padding: 120px 0 120px 0;
  }

  .list-portfolio {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }

  .list-portfolio-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .worker-social-link:hover,
  .worker-social-link:focus {
    background-color: #404bbf;
  }

  .overlay-item {
    position: relative;
    overflow: hidden;
  }

  .overlay {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    overflow: auto;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .list-portfolio-item:hover .overlay {
    transform: translateY(0%);
  }

  .list-portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }

  /* -----------------/Section-four----------------- */

  /* -----------------Section-footer----------------- */

  .lower-nav {
    padding: 100px 0;
  }

  .footer-container {
    align-items: baseline;
    gap: 0;
  }

  .footer-container-one {
    margin-right: 120px;
  }

  .link-icon {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .link-icon:hover,
  .link-icon:focus {
    background-color: #31d0aa;
  }

  .subscribe-form {
    gap: 24px;
  }

  .subscribe-input {
    width: 264px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #fff;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    color: #ffffff;
  }

  .subscribe-btn {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .subscribe-btn:hover,
  .subscribe-btn:focus {
    background-color: #404bbf;
    border: none;
  }

  /* -----------------/Section-footer----------------- */

  /* -----------------Backdrop----------------- */

  .review-form-submit-btn:hover,
  .review-form-submit-btn:focus {
    background-color: #404bbf;
    border: none;
  }

  .review-form-checkbox:checked
    + .review-form-checkbox-label
    .review-form-own-checkbox-icon {
    opacity: 1;
  }

  .review-form-checkbox:focus
    + .review-form-checkbox-label
    > .review-form-own-checkbox {
    border-color: #4d5ae5;
  }

  .review-form-checkbox:checked
    + .review-form-checkbox-label
    > .review-form-own-checkbox {
    background-color: #404bbf;
    fill: #f4f4fd;
    border: none;
  }

  .review-form-comment::placeholder {
    color: rgba(46, 47, 66, 0.4);
  }

  .review-form-comment:focus {
    border-color: #4d5ae5;
  }

  .review-form-input:focus {
    border-color: #4d5ae5;
  }

  .review-form-input:focus + .review-form-input-icon {
    fill: #4d5ae5;
  }

  .modal-close-btn:hover,
  .modal-close-btn:focus {
    fill: #ffffff;
    background-color: #404bbf;
    border: none;
  }

  /* -----------------/Backdrop----------------- */
}
/* ==================== /DESKTOP-STYLE ==================== */
